<div class="container">
  <h2 class="text-center">
    What I have been up to?
  </h2>
  <div class="row">
    <div class="col">
      <ul>
        Web
        <li><a href="https://www.cbhs.com.au" target="_blank">CBHS Health Fund</a></li>
        <li><a href="https://www.cbhscorporatehealth.com.au" target="_blank">CBHS Corporate Health</a></li>
        <li><a href="#">Dual Australia WebRater</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        Mobile
        <li><a href="#" target="_blank">NSW DKT</a></li>
        <li><a href="https://www.cbhs.com.au" target="_blank">CBHS Health Fund</a></li>
        <li><a href="https://www.cbhscorporatehealth.com.au" target="_blank">CBHS Corporate Health</a></li>
      </ul>
    </div>
  </div>
</div>
