<h2 class="text-center">Hi</h2>
<p class="text-center">
  I'm a full stack and mobile app develoer based in Sydney, Australia. I have a passion for web and love to create for web
  and mobile devices.
</p>

<div class="container">
  <h3 class="text-center">What I can do?</h3>
  <h5 class="text-center">Develope what you need.</h5>
  <p>I am a full stack develoer, so I know how to create your website to run across devices.</p>
  <p>Also, I have experience developing mobile app using hybrid platform.</p>
</div>
